<div style= "background-color: burlywood;">
<form
  class="example pt-5 pb-5"
  action="/action_page.php"
  style="margin: auto; max-width: 700px;"
>
  <div class="flex justify-content-center mt-3">
    <input
      type="text"
      placeholder="Search.."
      name="search2"
      style="width: 22vw;height: 52px;"
      list="searchbar"
    />

    <datalist id="searchbar">
        <option value="Love Mobile Center">
        <option value="Noor Communication">
        <option value="S N Communication">
        <option value="Shiva genral Store">
        <option value="Priyanka Mobile Center">
        <option value="Aakash Trading Company">
        <option value="Lakshami Enterprises">
        <option value="Ravi Telecom">
        <option value="Ganesh Electricle">
        <option value="Rakesh  Electricle">
        <option value="Rajdeep Mobile Hub">
    </datalist>

    <button type="submit">
      <fa-icon
        style="font-size: 20px"
        [icon]="faSearchengin"
        class=""
      ></fa-icon>
    </button>
  </div>
</form>
</div>

<div style="background-color: cyan;">
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Love Mobile Center</h3>

                <b>Category: <span>MobilePhones</span></b>
                <b>Rating:3.6 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Noor Communication</h3>

                <b>Category: <span>MobilePhones</span></b>
                <b>Rating:4.2 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: S N Communication</h3>

                <b>Category: <span>MobilePhones</span></b>
                <b>Rating:3.8 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Aakash Trading Company</h3>

                <b>Category: <span>Grocerry</span></b>
                <b>Rating:3.9 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: jai Balaji Pipe Udog</h3>

                <b>Category: <span>Pipes And Steel</span></b>
                <b>Rating:3.6 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Shiva Gneral Store</h3>

                <b>Category: <span>Grocerry</span></b>
                <b>Rating:3.8 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Kundan Biryani</h3>

                <b>Category: <span>Foods and Grades</span></b>
                <b>Rating:4.0 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName:Priyanka Moblie Center </h3>

                <b>Category: <span>Moblies and Electronics</span></b>
                <b>Rating:4.5 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Lakshmi Enterprises</h3>

                <b>Category: <span>Television And Electronics</span></b>
                <b>Rating:2.3 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Aditi Enterprises</h3>

                <b>Category: <span> Television And Electronics</span></b>
                <b>Rating:2.5 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Ravi Telecom.</h3>

                <b>Category: <span>MobilePhones</span></b>
                <b>Rating:3.6 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Rakesh Electricle</h3>

                <b>Category: <span>Electronics</span></b>
                <b>Rating:3.8 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Ganesh Electricle</h3>

                <b>Category: <span>Electronics</span></b>
                <b>Rating:4.3 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
    <div style="background-color: antiquewhite;" class="mt-1 pt-4 pb-2" id="xy">
        <div class="xy pt-1 relative pb-1 px-2 ">
            <h5 style="display: flex; justify-content: space-between;">
                <h3>ShopName: Rajdeep mobile Hub</h3>

                <b>Category: <span>MobilePhones</span></b>
                <b>Rating:4.0 * </b>
                <button class="btn btn-info" (click)="gotoHome()">
                    <h5>
                        See shop Products
                    </h5>

                </button>

            </h5>
        </div>
    </div>
</div>