<div style="background-color: burlywood">
  <form
    class="example pt-5 pb-5"
    action="/action_page.php"
    style="margin: auto; max-width: 700px"
    id="form"
  >
    <div class="flex justify-content-center mt-3">
      <input
        type="text"
        placeholder="Search.."
        name="search2"
        style="width: 25vw; height: 52px; margin-left: 70px"
        list="searchbar"
      />

      <datalist id="searchbar">
        <option value="Love Mobile Center"></option>
        <option value="Noor Communication"></option>
        <option value="S N Communication"></option>
        <option value="Shiva genral Store"></option>
        <option value="Priyanka Mobile Center"></option>
        <option value="Aakash Trading Company"></option>
        <option value="Lakshami Enterprises"></option>
        <option value="Ravi Telecom"></option>
        <option value="Ganesh Electricle"></option>
        <option value="Rakesh  Electricle"></option>
        <option value="Rajdeep Mobile Hub"></option>
      </datalist>

      <button type="submit">
        <fa-icon
          style="font-size: 20px"
          [icon]="faSearchengin"
          class=""
        ></fa-icon>
      </button>
    </div>
  </form>
</div>


<div  *ngIf="isLoading" style="text-align:center">
    <loading-spinner></loading-spinner>
</div>

<div style="background-color: cyan"  *ngIf="!isLoading">
  <div
    style="background-color: antiquewhite"
    class="mt-1 pt-4 pb-2"
    id="xy"
    *ngFor="let si of arr"
  >
    <div class="xy pt-1 relative pb-1 px-2">
      <h5 style="display: flex; justify-content: space-between">
        <h4 id="h5">ShopName: {{ si.name }}</h4>

        <b
          >Category: <span>{{ si.category }}</span></b
        >
        <b
        >Rating:
          <ngb-rating [(rate)]="si.rating" [max]="5">
            <ng-template let-fill="fill" let-index="index">
              <i
                class="bi-star{{ fill === 100 ? '-fill' : '' }}"
                [class.filled]="fill === 100"
                [class.low]="index < 1"
              ></i>
            </ng-template>
          </ngb-rating>
          <hr />
          <pre>Overall Rating: <b>{{si.rating}}</b></pre>
        </b>
        <button class="btn btn-info" id="uniqueBtn" (click)="gotoHome()">
          <h5>See shop Products</h5>
        </button>
      </h5>
    </div>
  </div>
</div>
