<section class="h-100 h-custom" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3">
                  <a href="#!" class="text-body">
                    <fa-icon
                      style="font-size: 40px"
                      [icon]="faArrowLeft"
                    ></fa-icon>
                    Continue shopping</a
                  >
                </h5>
                <hr />

                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">
                      You have {{ cartItemNo }} items in your cart
                    </p>
                  </div>
                  <div>
                    <p class="mb-0">
                      <span class="text-muted">Sort by:</span>
                      <a href="#!" class="text-body"
                        >price <i class="fas fa-angle-down mt-1"></i
                      ></a>
                    </p>
                  </div>
                </div>

                <div class="card mb-3" *ngFor="let sp of arr">
                  <div class="card-body" *ngIf="sp.Quantity > 0">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            [src]="sp.image"
                            class="img-fluid rounded-3"
                            alt="Shopping item"
                            style="width: 65px"
                          />
                        </div>
                        <div class="ms-3">
                          <h5>{{ sp.name }}</h5>
                          <p class="small mb-0">{{ sp.specification }}</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic outlined example"
                        >
                          <button
                            type="button"
                            class="btn btn-outline-primary"
                            (click)="
                              quantityChange(sp.id, '-1');
                              subTotalUpDate(sp.price, '-')
                            "
                          >
                            -
                          </button>
                          <button type="button" class="btn btn-outline-primary">
                            <b> {{ sp.Quantity }}</b>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-primary"
                            (click)="
                              quantityChange(sp.id, '1');
                              subTotalUpDate(sp.price, '+')
                            "
                          >
                            +
                          </button>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <!-- <div style="width: 50px">
                          <h5 class="fw-normal mb-0 mx-2">pcs {{ sp.Quantity }}  </h5>
                        </div> -->
                        <div style="width: 80px">
                          <h5 class="mb-0">Rs. {{ sp.price * sp.Quantity }}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                      <h5 class="mb-0">Card details</h5>
                      <img
                        src="https://portfolio-website-92608.web.app/assets/image2.jpeg"
                        class="img-fluid rounded-3"
                        style="width: 45px"
                        alt="Avatar"
                      />
                    </div>

                    <p class="small mb-2"><b> Card type Accepted </b></p>

                    <fa-icon
                      style="font-size: 40px"
                      [icon]="faCcMastercard"
                      class="mx-2"
                    ></fa-icon>
                    <fa-icon
                      style="font-size: 40px"
                      [icon]="faCcVisa"
                      class="mx-2"
                    ></fa-icon>
                    <fa-icon
                      style="font-size: 40px"
                      [icon]="faCcAmex"
                      class="mx-2"
                    ></fa-icon>
                    <fa-icon
                      style="font-size: 40px"
                      [icon]="faCcPaypal"
                      class="mx-2"
                    ></fa-icon>

                    <form class="mt-4" #f="ngForm">
                      <div class="form-outline form-white mb-4">
                        <div
                          class="alert alert-danger"
                          *ngIf="
                            cardHolderName.touched && cardHolderName.invalid
                          "
                        >
                          Card Holder's Name cannot be Empty
                        </div>
                        <input
                          type="text"
                          id="typeName"
                          class="form-control form-control-lg"
                          siez="17"
                          placeholder="Cardholder's Name"
                          name="cardHolderName"
                          required
                          ngModel
                          #cardHolderName="ngModel"
                        />
                        <label class="form-label" for="typeName"
                          >Cardholder's Name</label
                        >
                      </div>

                      <div class="form-outline form-white mb-4">
                        <div
                          class="alert alert-danger"
                          *ngIf="cardNumber.touched && cardNumber.invalid"
                        >
                          CardNumber Must contain 16 Digits
                        </div>
                        <input
                          type="text"
                          id="typeText"
                          class="form-control form-control-lg"
                          siez="17"
                          placeholder="1234 5678 9012 3457"
                          minlength="16"
                          maxlength="16"
                          name="cardNumber"
                          required
                          ngModel
                          #cardNumber="ngModel"
                        />
                        <label class="form-label" for="typeText"
                          >Card Number</label
                        >
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <div
                              class="alert alert-danger"
                              *ngIf="expiryDate.touched && expiryDate.invalid"
                            >
                              Expiry Date Required
                            </div>
                            <input
                              type="text"
                              id="typeExp"
                              class="form-control form-control-lg"
                              placeholder="MM/YYYY"
                              size="7"
                              id="exp"
                              minlength="7"
                              maxlength="7"
                              name="expiryDate"
                              required
                              ngModel
                              #expiryDate="ngModel"
                            />
                            <label class="form-label" for="typeExp"
                              >Valid Till</label
                            >
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <div
                              class="alert alert-danger"
                              *ngIf="cvv.touched && cvv.invalid"
                            >
                              CVV Required
                            </div>
                            <input
                              type="password"
                              id="typeText"
                              class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;"
                              size="1"
                              minlength="3"
                              maxlength="3"
                              name="cvv"
                              required
                              ngModel
                              #cvv="ngModel"
                            />
                            <label class="form-label" for="typeText">Cvv</label>
                          </div>
                        </div>
                      </div>
                    </form>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">{{ getCartSubTotal() }}</p>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Discount 15% Flat</p>
                      <p class="mb-2">{{ getCartDiscount() }}</p>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                      <p class="mb-2">GST 18%</p>
                      <p class="mb-2">{{ getCartGst() }}</p>
                    </div>


                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total Prize To Be Paid</p>
                      <p class="mb-2">{{ getCartTotalBill() }}</p>
                    </div>

                    <button
                      type="button"
                      class="btn btn-info btn-block btn-lg"
                      [disabled]="f.invalid"
                    >
                      <div class="m-auto justify-content-center">
                        <span class="mx-5"
                          >PayNow
                          <i class="fas fa-long-arrow-alt-right ms-2"></i
                        ></span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
