<div >
  <nav style="background-color:aqua">
    <div class="dec">
      <li routerLink="home"  routerLinkActive="active">Home</li>
      <li routerLink="shop-partners" routerLinkActive="active">Shop-Partners</li>
      <li routerLink="cart" routerLinkActive="active" *ngIf="isAuthenticated">Your cart</li>
    </div>
    <div class="dec">
      <li *ngIf="isAuthenticated" (click)="logout()">Logout</li>
      <li routerLink="manageorders" routerLinkActive="active" *ngIf="isAuthenticated">Manage-Orders</li>
      <li routerLink="login" routerLinkActive="active" *ngIf="!isAuthenticated">Login</li>
      <li routerLink="signup" routerLinkActive="active" *ngIf="!isAuthenticated ">SignUp</li>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>