<div class="container-fluid ">
  <nav>
    <div class="dec">
      <li routerLink="home"  routerLinkActive="active">Home</li>
      <li routerLink="listofitems" routerLinkActive="active">List of Items</li>
      <li routerLink="cart" routerLinkActive="active">Your cart</li>
    </div>
    <div class="dec">
      <li routerLink="login" routerLinkActive="active">Login</li>
      <li routerLink="signup" routerLinkActive="active">SignUp</li>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>