<div class="card mb-3" *ngFor="let sp of cartArray">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
      
      
      
      <div class="d-flex flex-row align-items-center">
        <div style="width: 80px">
          <h5 class="mb-0">{{sp.name}}</h5>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div style="width: 80px">
          <h5 class="mb-0">{{sp.status}}</h5>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div style="width: 80px">
          <h5 class="mb-0">{{sp.price}}</h5>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div style="width: 80px">
          <h5 class="mb-0">{{sp.totalItem}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div style="width: 50px">
            <h5 class="fw-normal mb-0 mx-2">pcs {{ sp.Quantity }}  </h5>
          </div> -->
<!-- <div style="text-align:center" >
    <button class="btn btn-primary">Placed Order</button>  
  </div> -->

<!-- 
  <p>Its working...</p> -->
