<div class="card mb-3" *ngFor="let sp of cartArray">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <div>
          <img
            [src]="sp.image"
            class="img-fluid rounded-3"
            alt="Shopping item"
            style="width: 65px"
          />
        </div>
        <div class="ms-3">
          <h5>{{ sp.name }}</h5>
          <p class="small mb-0">{{ sp.specification }}</p>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary">-</button>
          <button type="button" class="btn btn-outline-primary">
            <b> {{ sp.Quantity }}</b>
          </button>
          <button type="button" class="btn btn-outline-primary">+</button>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div style="width: 80px">
          <h5 class="mb-0">Rs. {{ sp.price * sp.Quantity }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div style="width: 50px">
            <h5 class="fw-normal mb-0 mx-2">pcs {{ sp.Quantity }}  </h5>
          </div> -->
<!-- <div style="text-align:center" >
    <button class="btn btn-primary">Placed Order</button>  
  </div> -->

<!-- 
  <p>Its working...</p> -->
