/* nav{
    width: 100%;
    display:flex;
    font-size: 24px;

    justify-content: space-around;
    
} */
.row {
    display: flex;
    list-style: none;

  }
  
.column {
    flex: 25%;
    /* max-width: 50%;
    max-height: 1%; */
   
   
}
.column2{
    flex:50%;
     /* max-width:25%;
     max-height: 1%; */
     
}
/* #nav{
  max-height: 2%;
  background-color: blue;
} */
#navbar{
  margin: 0;
  padding: 0;

}







* {
  box-sizing: border-box;

}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
}

form.example button {

  width: 25%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  font-family: Arial;
}