<nav
  
  style="background-color: rgba(255, 255, 0, 0.699);"
>
  <ul style="background-color: pink" id="navbar">
    <div class="row">
      <div class="column">
        <li>
          <img
            [src]="urlLeftSide"
            alt="Happy to see You Here"
            height="200"
            width="476"
          />
        </li>
      </div>
      <div class="column2">
        <li>
          <img
            [src]="urlNavBackGround"
            alt="Welcome In Abhisheka's Enterprises"
            height="200"
            width="975"
          />
        </li>
      </div>
      <div class="column">
        <li>
          <img
            [src]="urlRightSide"
            alt="Happy to see You Here"
            height="200"
            width="476"
          />
        </li>
      </div>
    </div>
  </ul>
</nav>
<!-- <nav  
  style="background-color: rgba(255, 255, 0, 0.699);"
>
  
   
      <span class="column">
          <img
            [src]="urlLeftSide"
            alt="Happy to see You Here"
            height="200"
            width="468"
          />
        
      </span>
      <span class="column2">
        
          <img
            [src]="urlNavBackGround"
            alt="Welcome In Abhisheka's Enterprises"
            height="200"
            width="961"
          />
        
      </span>
      <span class="column">
        
          <img
            [src]="urlRightSide"
            alt="Happy to see You Here"
            height="200"
            width="468"
          />
        
      </span>
  

</nav> -->

<form
  class="example"
  action="/action_page.php"
  style="margin: auto; max-width: 700px"
>
  <div class="flex justify-content-center mt-3">
    <input
      type="text"
      placeholder="Search.."
      name="search2"
      style="width: 22vw;height: 52px;"
    />

    <button type="submit">
      <fa-icon
        style="font-size: 20px"
        [icon]="faSearchengin"
        class=""
      ></fa-icon>
    </button>
  </div>
</form>


<div class="container row justify-content-center m-auto">
  <div class="card mx-4 mt-5" style="width: 18rem" *ngFor="let array of arr">
    <img 
      [src]="array.image"
 
      class="card-img-top"
      alt="Some issue Occour"
    />
    <div class="card-body">
      <h3 class="card-title">{{array.name}}</h3>
      <h3 class="card-title">{{array.specification}}</h3>
      <h5>{{ array.price }}</h5>
      <p class="card-text">
        To Achive Your goals you need a secure partner that is here.. A person
        who "Think Different" with others can only live the different life.
      </p>
      <div class="row">
        <h4 style="color: green">Add to cart</h4>

        <div
          class="btn btn-primary"
          *ngIf="array.Quantity == 0; else groupButtons"
          (click)="quantityChange(array.id, '1');subTotalUpDate(array.price,'+');"
        >
          Add
        </div>
        <ng-template #groupButtons>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="quantityChange(array.id, '-1');subTotalUpDate(array.price,'-');"
            >
              -
            </button>
            <button type="button" class="btn btn-outline-primary">
              {{ array.Quantity }}
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="quantityChange(array.id, '1');subTotalUpDate(array.price,'+')"
            >
              +
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
