<div></div>
<nav class="justify-content-center m-auto " style="background-color:rgba(255, 255, 0, 0.699)">
    <ul>
        <div class="row">
            <div class="column">
                <li>
                    <img [src]=" urlLeftSide" alt="Happy to see You Here" height="200" width="450">
                </li>
            </div>
            <div class="column2">
                <li>
                    <img [src]="urlNavBackGround" alt="Welcome In Abhisheka's Enterprises" height="200" width="900">
                </li>
            </div>
            <div class="column">
                <li>
                    <img [src]=" urlRightSide" alt="Happy to see You Here" height="200" width="450">
                </li>
            </div>
        </div>

    </ul>
</nav>

<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa fa-search">Search</i></button>
</form>

<div class="container row  justify-content-center m-auto">
    <div class="card mx-4 mt-5 " style="width: 18rem;">
        <img src="https://shop.unicornstore.in/uploads/images/medium/34e6957bed83de93e7dc296ab0ede5c6.png"
            class="card-img-top" alt="Some issue Occur">
        <div class="card-body">
            <h3 class="card-title">IPhone 13</h3>
            <h5>In Just $500 </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://shop.unicornstore.in/uploads/images/medium/34e6957bed83de93e7dc296ab0ede5c6.png"
            class="card-img-top" alt="Some issue Occur">
        <div class="card-body">
            <h3 class="card-title">IPhone 13</h3>
            <h5>In Just $500 </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://shop.unicornstore.in/uploads/images/medium/34e6957bed83de93e7dc296ab0ede5c6.png"
            class="card-img-top" alt="Some issue Occur">
        <div class="card-body">
            <h3 class="card-title">IPhone 13</h3>
            <h5>In Just $500 </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://shop.unicornstore.in/uploads/images/medium/34e6957bed83de93e7dc296ab0ede5c6.png"
            class="card-img-top" alt="Some issue Occur">
        <div class="card-body">
            <h3 class="card-title">IPhone 13</h3>
            <h5>In Just $500 </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://shop.unicornstore.in/uploads/images/medium/34e6957bed83de93e7dc296ab0ede5c6.png"
            class="card-img-top" alt="Some issue Occur">
        <div class="card-body">
            <h3 class="card-title">IPhone 13</h3>
            <h5>In Just $500 </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>