<nav   style="background-color:yellow;padding-top: 5px; padding-bottom: 5px;">
  <marquee behavior="" direction="ltr" >
    <div  class="m-auto slider">
    <span style="font-size: 2em;color: brown;">!!! Welcome in Abhisheka's Enterprises...</span>
    <span style="font-size: 2em;color: brown;padding-left: 30vw;">!!! We are happy to see you here...</span>
    <span style="font-size: 2em;color: brown;padding-left: 30vw;">!!! Your most trustable Partner...</span>
    </div>
  </marquee>
</nav>
<!-- Carousel wrapper --> 
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel" style="background-color:black"> 
<ngb-carousel
	#carousel
	[interval]="2000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	
>
	<ng-template ngbSlide *ngFor="let img of images; index as i">
		<div class="carousel-caption">
			<h3 style="color:yellowgreen">Today's best price sale No. {{i + 1}} </h3>
		</div>
		<a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
			<div class="picsum-img-wrapper">
				<img [src]="img" alt="My image {{i + 1}} description" class="d-block w-80 m-auto mt-2 mb-5"  />
			</div>
		</a>
	</ng-template>
</ngb-carousel>

</div>
<!-- Carousel wrapper --> 



<form
  class="example"
  action="/action_page.php"
  style="margin: auto; max-width: 700px"
>
  <div class="flex justify-content-center mt-5 mx-5">
    <input
      type="text"
      placeholder="Search.."
      name="search2"
      style="width: 22vw;height: 52px;"
      list="searchbar"
    />

    <datalist id="searchbar">
      <option value="Iphone 13 pro">
      <option value="Iphone 13 ">
      <option value="Iphone 11 pro">
      <option value="Iphone 12 pro">
      <option value="Iphone 12 ">
      <option value="Iphone 14 pro max">
    </datalist>

    <button type="submit">
      <fa-icon
        style="font-size: 20px"
        [icon]="faSearchengin"
        class=""
      ></fa-icon>
    </button>
  </div>
</form>


<div class="container row justify-content-center m-auto">
  <div class="card mx-4 mt-5" style="width: 18rem" *ngFor="let array of arr2">
    <img 
      [src]="array.image"
 
      class="card-img-top"
      alt="Some issue Occour"
    />
    <div class="card-body mb-0" >
      <h3 class="card-title">{{array.name}}</h3>
      <h3 class="card-title">{{array.specification}}</h3>
      <h5>{{ array.price }}</h5>
      <p class="card-text">
        To Achive Your goals you need a secure partner that is here.. A person
        who "Think Different" with others can only live the different life.
      </p>
      <div class="row "  >
        <h4 style="color: green">Add to cart</h4>

        <div
          class="btn btn-primary "
        
          *ngIf="array.Quantity == 0; else groupButtons"
          (click)="addItem(array.id,'1','+',array.price)"
        >
          Add
        </div>
        <ng-template #groupButtons>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="quantityChange(array.id, '-1');subTotalUpDate(array.price,'-');"
            >
              -
            </button>
            <button type="button" class="btn btn-outline-primary">
              {{ array.Quantity }}
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="quantityChange(array.id, '1');subTotalUpDate(array.price,'+')"
            >
              +
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<!-- <button class="btn btn-primary" (click)="getProduct()">get Data</button> -->
